@import "./vars.styl"

body
  font-family 'Work Sans', sans-serif

.HeaderContainer
  width 100%
  height 70px
  background-color white

  .HeaderBody
    max-width 700px
    margin 0 auto
    color TextColor

    h1
      color TextColor
      line-height 70px
      margin 0
