@import "./vars.styl"

body
  font-family 'Work Sans', sans-serif

.HeaderContainer
  width 100%
  height 70px
  background-color white

  .HeaderBody
    max-width 700px
    margin 0 auto
    color TextColor

    h1
      line-height 70px
      margin 0

.FooterContainer
  width 100%
  height 70px
  background-color white

  .FooterBody
    max-width 700px
    margin 0 auto
    color TextColor

    p
      text-align right
