@import './vars.styl'

.TopImage
  height 300px
  background-image url('/static/images/sea.jpg')
  background-size cover
  background-position-y center
  background-attachment fixed
  text-align center

.MainContents
  max-width 700px
  margin 0 auto

  .Attraction
    width 90%
    margin 10px auto
    background-color MainColor
    padding 30px

    p
      margin 0

    .AttractionName
      font-weight 800
    
    .OtherText
      font-weight 300
      font-size 15px
