extends ./layouts/default.pug

block head
  link(rel="stylesheet" href="./stylesheets/park.css")

block content
  section.TopImage
  section.MainContents
    h2 ディズニー#{parkName}の待ち時間
      each time, id in waitTimes
        div.Attraction
          p.AttractionName #{time.name}
          if time.waitTime != 0
            p.OtherText 現在#{time.waitTime}時間待ちです。
          else
            p.OtherText 現在閉園中です。
